body{
    background-color: rgb(153, 37, 37);
    font-family: 'Oswald', sans-serif;
}


#slider1{
    display: inline-block;
    margin-left: 90px;
}
#slider2{
    display: inline-block;
    margin-left: 100px;
}
#slider3{
    display: inline-block;
    margin-left: 100px;
}
p{
    display: inline-block;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(34,187,187);
}
#filter{
    margin-left: 120px;
}
#delay{
    margin-left: 165px;
}
#reverb{
    margin-left: 175px;
}


#buttons{
    display: inline-block;
}

#button1{
    display: inline-block;
    margin-left: 90px;
}
#button2{
    display: inline-block;
    margin-left: 100px;
}
#button3{
    display: inline-block;
    margin-left: 100px;
}

#masterButton{
    margin-top: 200px;
    margin-left: 270px;
}

#instrument{
    margin-top: 150px;
    margin-left: 320px;
}